<html>
  <head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
   <script type="text/template" id="click-template">
     <p><%%= message %></p>
     <p><button id="click-me"><%%= buttonMessage%></button></p>
   </script>

   <script type="text/template" id="form-template">
     <input type='text' id='name' placeholder='Enter a food name'>
     <input type='text' id='cents' placeholder='Enter cents'>
     <input type='text' id='cuisine' placeholder='Enter cuisine'>
     <button id='submit'><%%= submitValue %></button>
   </script>

  <body>

    <h2>Greetings Manager</h2>

    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='log-out'>
    </form>

    <!-- JS Libraries -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!-- Backbone Models -->
    <script src='/javascripts/models/FoodModel.js'></script>

    <!-- Backbone Collection -->
    <script src='/javascripts/collections/FoodCollection.js'></script>

    <!-- Application -->
    <script src='/javascripts/adminApp.js'></script>

  </body>
</html>
