html {
  background: url('http://www.designboom.com/contest/files/copy_1_balance.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
.food-selected{
  background-color: lightgreen;
}
.party-selected{
  background-color: pink;
}
.interface-list{
  border: 2px solid black;
}
h2{
  font-size: 2em;
}
