html {
  background: url('http://www.designboom.com/contest/files/copy_1_balance.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
.restapp{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.food-selected{
  background-color: gray;
}
.food{
  list-style-type: none;
}
.party-selected{
  background-color: gray;
}
.party{
  list-style-type: none;
}
.interface-list{
  border: 5px solid gray;
  padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.5em;
}
